@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
  font-family: "Roboto Condensed" sans-serif;
}

/*---- Navbar ----*/

.logo {
  width: 16.25rem;
}

/* ---- Menu Links -----*/

nav a.nav-link {
  font-weight: 500;
  letter-spacing: .3rem;
  cursor: pointer;
  padding-right: 6rem;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 14px;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
}