@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

body {
  font-family: "Roboto Condensed", sans-serif;
}

/*---- Navbar ----*/

.logo {
  width: 16.25rem;
}

/* ---- Menu Links -----*/

nav a.nav-link {
  font-weight: 500;
  letter-spacing: .3rem;
  cursor: pointer;
  padding-right: 6rem;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 14px;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
}

/* ---- Header -----*/

.header-wrapper {
  position: relative;
  background: url(background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

.main-info h1 {
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px #8400ff;
}

/*---------- Typed Text --------*/

.typed-text {
  font-size: 2rem;
  color: rgb(114, 38, 214);
  text-shadow: 2px 2px white;
}

.btn-main-offer {
  text-transform: uppercase;
  background-color: white;
  border: 1px solid purple;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color:rgb(111, 0, 255);
  margin: 2rem;
}