@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

/*---- Navbar ----*/

.logo {
  width: 16.25rem;
}

/* ---- Menu Links -----*/

nav a.nav-link {
  font-weight: 500;
  letter-spacing: .3rem;
  cursor: pointer;
  padding-right: 6rem;
  font-family: "Roboto Condensed", sans-serif;
}

nav ul li {
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
}

.navbar-nav > li > a {
  margin-right: 14px;
  font-family: "Roboto Condensed", sans-serif;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  font-family: "Roboto Condensed", sans-serif;
}

/* ---- Header -----*/

.header-wrapper {
  position: relative;
  background: url(background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

.main-info h1 {
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px #8400ff;
  font-family: "Roboto Condensed", sans-serif;
}

/*---------- Typed Text --------*/

.typed-text {
  font-size: 2rem;
  color: rgb(114, 38, 214);
  text-shadow: 2px 2px white;
  font-family: "Roboto Condensed", sans-serif;
}

@media(max-width: 768px) {
  .main-info h1 {
    font-size: 1.7rem;
  }

  .typed-text {
    font-size: 1.3rem;
  }
}

.btn-main-offer {
  text-transform: uppercase;
  background-color: rgb(17, 169, 230);
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color:rgb(111, 0, 255);
  margin: 2rem;
  font-family: "Roboto Condensed", sans-serif;
}

.btn-main-offer:hover {
  text-decoration: none;
  color: rgb(17, 169, 230);
  transition: .2s ea;
  background-color:rgb(111, 0, 255);
  font-family: "Roboto Condensed", sans-serif;
}

/*---------- Image --------*/

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 18rem;
  border-radius: 50%;
  padding: .5rem;
  border: 5px solid rgb(17, 169, 230);
}

.about-heading {
  color:rgb(111, 0, 255);
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  text-shadow: 2px 2px rgb(17, 169, 230);
  padding-right: 3rem;
}

@media(max-width: 468px) {
  .profile-img {
    width: 10rem;
  }
}

.details {
  font-family: 'Quicksand', sans-serif !important;
  padding: .3rem;
  padding-top: .9rem;
}

/*---------- Portfolio --------*/

.portfolio-wrapper {
  background:rgb(214, 214, 214);
  padding: 3rem 0;
}

.portfolio-image {
  width: 18rem;
  padding: .5rem;
  border: 2px ridge rgb(57, 16, 112);
}

.portfolio-image-box {
  position: relative;
  margin: 1rem;
}

.portfolio-wrapper h1 {
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(17, 169, 230);
  text-shadow: 2px 2px rgb(111, 0, 255);
}

.overflow {
  position: absolute;
  opacity: 0;
  background:rgb(128, 75, 197);
  width: 18rem;
  height: 8rem;
  top: 0;
  border: 1px solid rgb(17, 169, 230);
  cursor: pointer;
  font-family: 'Quicksand', sans-serif !important;
}

.portfolio-image-box:hover .overflow {
  opacity: 60%;
  transition: 0.3s ease-in-out;
  font-family: 'Quicksand', sans-serif !important;
}

.portfolio-icon {
  position: absolute;
  opacity: 0;
  margin-left: -10rem;
  margin-top: 3.6rem;
  color:rgb(17, 169, 230);
  font-size: 1.5rem;
}

.portfolio-image-box:hover .portfolio-icon {
  opacity: 70%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.portfolio-image-popupbox {
  padding: 0 0.5rem;
  width: 70rem;
}

.portfolio-description {
  justify-content: justify;
  align-items: center;
  text-align: center;
  width: 70rem;
}

.hyper-link {
  cursor: pointer;
  color:rgb(111, 0, 255);
}

.hyper-link:hover {
  cursor: pointer;
  color:rgb(17, 169, 230);
}

/*--- MEDIA ----*/

@media(max-width: 768px) {
  .portfolio-image-popupbox {
    width: 100%;
  }

  .portfolio-description {
    justify-content: justify;
    align-items: center;
    text-align: center;
    width: 35rem;
  }
}

@media(max-height: 375px) {
  .popupbox-wrapper {
  height: 100%;
}

  .portfolio-image-popupbox {
    width: 100%;
  }

  .portfolio-description {
    justify-content: justify;
    align-items: center;
    text-align: center;
    width: 10rem;
  }
}

/*--------- CONTACTS ---------*/

.contacts {
  padding: 3rem 0;
}

.contacts h1 {
  color: rgb(111, 0, 255);
  text-transform: uppercase;
  text-shadow: 2px 2px rgb(17, 169, 230);
  font-family: "Roboto Condensed", sans-serif;
}

/*--------- CONTACT INPUTS ---------*/

.contacts {
  background-color: rgb(214, 214, 214);
}

.contacts input, .contacts textarea {
  width: 100%;
  box-sizing: border-box;
  background: white;
  resize: none;
  border: 0;
  border-bottom: 2px solid rgb(45, 14, 80);
  margin-bottom: 1rem;
  font-family: 'Quicksand', sans-serif !important;
}

.contacts .container {
  padding: 4rem 0;
}

.contacts button {
  border: 2px solid rgb(111, 0, 255);
  text-shadow: 2px 2px black;
  font-family: "Roboto Condensed", sans-serif;
}

.contacts button:hover {
  border: 2px solid rgb(111, 0, 255);
  text-shadow: 2px 2px black;
  font-family: "Roboto Condensed", sans-serif;
}

.contacts textarea {
  height: 12.25rem !important;
}

.contacts h1 {
  margin-bottom: 3rem;
}

.float-right {
  float: center;
}

.error-message {
  color: rgb(111, 0, 255);
  text-align: left;
  font-family: 'Quicksand', sans-serif !important;
}

.success-message {
  font-weight: 900;
  color: rgb(17, 169, 230);
  font-family: 'Quicksand', sans-serif !important;
}

/*---------------- MEDIA -----------------------*/
@media(max-width: 768px) {
  .contacts {
    overflow-x: hidden;
  }
  
  .contacts .container {
    padding: 0 1rem;
  }

  .contacts p {
    padding: 0 0.4rem;
  }
}

/*----- RESUME -----*/

.resume-display {
  justify-content: justify;
  align-items: center;
  text-align: center;
  width: 120rem;
  padding-bottom: 3rem;
}

.resume-header {
  color: rgb(17, 169, 230);
  text-transform: uppercase;
  text-shadow: 2px 2px rgb(111, 0, 255);
  font-family: "Roboto Condensed", sans-serif;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/*----- footer -----*/

.footer {
  background: white;
  color:black;
  padding-left: 6rem;
}

.footer a {
  text-decoration: none;
  color: rgb(45, 14, 80);
}

.footer a:hover {
  text-decoration: none;
  color:rgb(111, 0, 255);
  cursor: pointer;
}

.footer-description {
  padding-left: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: rgb(114, 38, 214);
  text-shadow: 2px 2px white;
  font-family: "Roboto Condensed", sans-serif;
}